@using AYSAdalet.Models.Modeller
@model AYSAdalet.ViewModels.PersonelViewModel
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12">

    <div class="card">
        <div class="header">
            <h2><strong>Personel</strong> Ekle</h2>
        </div>
        <div class="body">

            @using (Html.BeginForm("Ekle", "Personel", FormMethod.Post))
            {
                @Html.LabelFor(x => x.Personel.PersonelSicil)
                @Html.TextBoxFor(x => x.Personel.PersonelSicil, new { @class = "form-control" })

                @Html.LabelFor(x => x.Personel.PersonelAdSoyad)
                @Html.TextBoxFor(x => x.Personel.PersonelAdSoyad, new { @class = "form-control" })

                @Html.LabelFor(x => x.Personel.Unvanlar.Unvani)
                @Html.DropDownListFor(x => x.Personel.Unvanlar.Unvani, new SelectList(Model.Unvanlar, "", "UNVANI"), new { @class = "form-control" })

                @Html.LabelFor(x => x.Personel.Birimler.BirimAdi)
                @Html.DropDownListFor(x => x.Personel.Birimler.BirimAdi, new SelectList(Model.Birimler, "BIRIMID", "BIRIMADI"), new { @class = "form-control" })

                @Html.LabelFor(x => x.Personel.CepTelefonu)
                @Html.TextBoxFor(x => x.Personel.CepTelefonu, new { @class = "form-control" })

                @Html.LabelFor(x => x.Personel.DahiliNo1)
                @Html.TextBoxFor(x => x.Personel.DahiliNo1, new { @class = "form-control" })

                @Html.LabelFor(x => x.Personel.DahiliNo2)
                @Html.TextBoxFor(x => x.Personel.DahiliNo2, new { @class = "form-control" })
                <br />
                <div class="col-md-12 ">
                    <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Ekle</button>
                    <a href="/Personel" class="btn btn-raised btn-danger btn-round waves-effect">Personel Listesi</a>
                </div>
            }
        </div>
    </div>
</div>
