@model AYSAdalet.ViewModels.PerBirimEkleVM


@{
    ViewBag.Title = "PersoneleBirimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="header">
        <h2><strong>Personele</strong> Görev Yeri Ekle</h2>
        <ul class="header-dropdown">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:void(0);">Action</a></li>
                    <li><a href="javascript:void(0);">Another action</a></li>
                    <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
            </li>
            <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
            </li>
        </ul>
    </div>
    <div class="body">

        @using (Html.BeginForm("PersoneleBirimiEkle", "Personel", FormMethod.Post, new { @class = "form-control" }))
        {

            <label for="email_address">Personel Adı Soyadı</label>
            <div class="form-group">

                <input readonly type="text" id="email_address" class="form-control" placeholder="@ViewBag.gelenpersonelismi">
            </div>
            <label for="">Birim</label>
            <div class="form-group">
                @Html.DropDownListFor(x=>x.Birimler.BirimID, new SelectList(@ViewBag.birimler, "BirimID","BirimAdi"), new {@class="form-control"})
                
            </div>
           
            @Html.ActionLink("Ekle","PersoneleBirimiEkle", new {ID=@ViewBag.personelid})
            
        }
    </div>
    
    <hr />
    <div class="card">
        <div class="card-header">
            Görevli Olduğu Birimler
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Personel Adı Soyadı</th>
                    <th>Kurum Sicil Numarası</th>
                    <th>Görev Yeri</th>
                </tr>
                </thead>

                <tbody>

                @foreach (var i in Model.Personeller)
                {
                    <tr>
                        <td>@i.PersonelAdSoyad</td>
                        <td>@i.PersonelSicil</td>
                        <td>@i.Birimler.BirimAdi</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>




</div>