@model AYSAdalet.ViewModels.AdliyeRehberListVM
@{
    ViewBag.Title = "Adliye Rehber";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card">
    <div class="header">
        <h2><strong>Telefon</strong> Rehberi</h2>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table m-b-0 table-primary" id="example">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Adı Soyadı</th>
                        <th scope="col">Unvanı</th>
                        <th scope="col">Dahili No-1</th>
                        <th scope="col">Dahili No-2</th>
                        <th scope="col">Cep Telefonu</th>
                        <th scope="col">Birimi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Personels)
                    {
                        <tr>

                            <td>@item.PersonelAdSoyad</td>
                            <td>@item.Unvanlar.Unvani</td>
                            <td>@item.DahiliNo1</td>
                            <td>@item.DahiliNo2</td>
                            <td>@item.CepTelefonu</td>
                    
                            <th>

                                @foreach (var item3 in Model.PersonelGorevYerleris.Where(x => x.PersonelID == item.PersonelID).ToList())
                                {
                                @item3.Birimler.BirimAdi <b>-</b>

                                }
                            </th>
                    
                    
                    </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var groupColumn = 5;
            var table = $('#example').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[groupColumn, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[1];
                if (currentOrder[0] === groupColumn && currentOrder[0] === 'asc') {
                    table.order([groupColumn, 'desc']).draw();
                }
                else {
                    table.order([groupColumn, 'asc']).draw();
                }
            });
        });</script>

    <style>
        tr.group,
        tr.group:hover {
            background-color: #ddd !important;
        }
    </style>