@model AYSAdalet.Models.Modeller.Bilgi_Yazicilar

@using (Html.BeginForm("YaziciEkle", "Bilgi_Donanim", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="card">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="body">
            <label>Yazıcı Markası</label>
            @Html.TextBoxFor(model => model.YaziciMarka, htmlAttributes: new { @class = "form-control" })

            <label>Yazıcı Modeli</label>
            @Html.TextBoxFor(model => model.YaziciModel, new { @class = "form-control" })

            <label>Yazıcı Seri No</label>
            @Html.TextBoxFor(model => model.YaziciSeriNo, new { @class = "form-control" })


        </div>

        <div class="form-group">
            <div class="col-md-12 ">
                <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Kayıt Ekle</button>
            </div>
        </div>
    </div>
}
